@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Raleway:wght@200&family=Rubik+Moonrocks&family=Staatliches&display=swap');

body{
    background-color: white;
    color: #f1dca7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 600px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align: center;
}

.titulo{
    border-bottom: solid 3px;
    width: 100%;
    margin-bottom: 15px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    max-width: 400px;
    height: auto;
    background-color: #BDE038;
    color: #10454F;
    border-radius: 10px;
    padding-bottom: 25px;
    box-shadow: 5px 5px 15px #10454f65;
}

.result{
    text-transform: uppercase;
    font-weight: bold;
    background-color: #10454F;
    color: white;
    text-align: center;
    height: 4em;
    width: 228px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: normal;
    box-shadow: 3px 3px 5px #10454f65;
}

input{
    border: none;
    border-radius: 5px;
    height: 23px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    padding: 5px;
    font-weight: bold;
}

.dados{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding-left: 25px;
    padding-right: 25px;
    width: 250px;
    height: auto;
}

#calcular{
    background-color: #10454F;
    color: white;
    height: 30px;
    width: 100%;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 3px 3px 5px #10454f65;
}