div#area{
    /*display: flex;
    justify-content: center;
    align-items: center;***SUBSTITUÍ PELO LINE HEIGHT*/
    background-color: greenyellow;
    height: 200px;
    width: 200px;
    line-height: 200px;/*deixei a linha da mesma altura da div, neste caso deixando de utilizar o flexbox para alinhar*/
    text-align: center;
    color:crimson;
}
