@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Raleway:wght@200&family=Rubik+Moonrocks&family=Staatliches&display=swap');

body{
    background-color: #997b66;
    color: #f1dca7;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 600px;
    font-family: 'Oswald', sans-serif;
}

section{
    background-color: whitesmoke;
    color: #797d62;
    border-radius: 10px;
    font-size: 18pt;
    padding: 20px;
    margin: auto;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384);
    text-align: center;
}

div{
    padding: 10px;
}

footer{
    font-style: italic;
}